$iphone-width: 400px;
$mobile-width: 640px;
$mobile-width-max: 736px;
$tablet-width-min: 768px;
$tablet-width: 1024px;
$desktop-width: 1140px;
$desktop-md: 1400px;
$desktop-large: 1920px;

$portrait: "(orientation: portrait)";
$landscape: "(orientation: landscape)";

@mixin tablet {
    @media (min-width: #{$mobile-width + 1}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$tablet-width + 1}) {
        @content;
    }
}

@mixin desktop-large {
    @media (min-width: #{$desktop-large + 1}) {
        @content;
    }
}

@mixin retina {

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min--moz-device-pixel-ratio: 1.5),
    only screen and (-o-min-device-pixel-ratio: 3/2),
    only screen and (min-resolution: 1.5dppx),
    only screen and (min-resolution: 144dpi) {
        @content;
    }
}